
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>NFL Teams</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
</head>
<body>
<div class="container">
<div class="col-md-4">
	<h1>NFL Teams</h1>
</div>
<div class="col-md-4">
	<h3></h3>
</div>

</div>
<table class="table table-striped">
<tr>
	<th>Team name</th>
	<th>Quarter back</th>
	<th>Division</th>
	
</tr>
<tr th:each= "team : ${teams}" >
	<td th:text= "${team.name}">title</td>
	<td th:text= "${team.qb}">author</td>
	<td th:text="${team.division}?${team.division.name}">Division</td>
	<td><a th:href ="@{/delete/{id}(id = ${team.id})}" class = "btn btn-danger">Delete</a></td>
	<td><a th:href ="@{/edit/{id}(id = ${team.id})}" class= "btn btn-success">Edit</a></td>
</tr>
</table>
	<a href="/add" class= "btn btn-success" >Add Team</a>

</body>
</html>